@model List<EventLink.Models.InstagramPostsEvents>
@using EventLink.Models
<script src="~/js/site.js" asp-append-version="true"></script>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="card float-right" data-category="@item.GetCategoryName()">
            <div class="row">
                <div class="col-sm-5">
                    <img class="d-block" src="@item.DisplayUrl" alt="" style="width: 500px; height: auto;">
                </div>
                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title">@item.OwnerFullName (@item.OwnerUsername)</h4>
                        <p class="card-text">@item.Caption</p>
                        <br>
                        <a href="@item.Url" class="mt-auto btn btn-primary">Go to Post</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No data available.</p>
}

<br>
<br>





<!--https://instagram.fsof9-1.fna.fbcdn.net/v/t51.2885-15/387267408_294032413479027_6755488847107510124_n.jpg?stp=dst-jpg_e35_s1080x1080&_nc_ht=instagram.fsof9-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=DNa5HgHZ6hYAX-0Gjie&edm=AP_V10EBAAAA&ccb=7-5&oh=00_AfAnuFZZv2wGnau9Ea7BMkAlrpGsrqp6M30p8mNECXcx-A&oe=652AE603&_nc_sid=2999b8-->
<!--https://picsum.photos/450/300?image=355-->